[submodule "ZigTapTun"]
	path = ZigTapTun
	url = https://github.com/SoftEtherUnofficial/ZigTapTun.git
	branch = master
[submodule "deps/openssl"]
	path = deps/openssl
	url = https://github.com/SoftEtherUnofficial/OpenSSLZig
