[submodule "deps/taptun"]
	path = deps/taptun
	url = https://github.com/SoftEtherUnofficial/ZigTapTun.git
	branch = temp
[submodule "deps/openssl"]
	path = deps/openssl
	url = https://github.com/SoftEtherUnofficial/OpenSSLZig
